h1 {
    text-align: center;


}

h2 {
    text-align: center;
}

#kacper-form {
    margin-left: 20px;
    max-width: 600px;
    display: flex;
    align-items: center;

}

#kacper-form input[type="text"] {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #001f0f;
    /* Dodanie obramowania */
    border-radius: 5px;
    margin-right: 10px;
    /* Margines z prawej strony */
}

#kacper-form input[type="file"] {
    flex: 1;
    padding-right: 200px;
    box-sizing: border-box;


    /* Dodanie obramowania */

    /* Margines z prawej strony */
}

#kacper-form button {
    padding: 10px 20px;
    background-color: #001f0f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Płynna zmiana koloru tła */
}

#kacper-form button:hover {
    background-color: #00331a;
}



body {
    background: linear-gradient(180deg, #82E0AA 3%, #006837 25%, #001f0f 100%);
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 255, 136, 0.8);
    padding: 0px;
    margin: 0px;
    height: 1280px;
}



h3 {
    font-size: 40px;
    margin-top: -10px;

}


@media only screen and (max-width: 600px) {


    body {
        font-size: 14px;
    }
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #006837;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    margin-right: auto;
}

.back-button:hover {
    background-color: #004922;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#file-input {
    width: 200px;
    height: 21px;
}