body {
    background: linear-gradient(180deg, #82E0AA 3%, #006837 25%, #001f0f 100%);
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 255, 136, 0.8);
    padding: 20px;
    min-height: 100vh;

    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center
}

.main {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.main img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #006837;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    margin-right: auto;
}

.back-button:hover {
    background-color: #004922;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.connection select {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    width: 200px;
    max-width: 100%;
    border-radius: 5px;
    /* Zaokrąglenie krawędzi */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    /* Usunięcie obramowania */
}

.connection select:focus {
    border-color: dodgerblue;
    /* Kolor obramowania po najechaniu */
}

.connection option {
    background-color: #fff;
    color: #333;
}

.connection option:hover {
    background-color: lightgray;
    color: #000;
}